* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    color: #000
}

.contenedor-prestaciones-noMobile {
    max-width: 1244px;
    width: 100%;
    margin: auto;
    margin-top: 7.5rem;
    padding: 0 1rem
}

@media (max-width: 920px) {
    .contenedor-prestaciones-noMobile {
        margin-top:5rem;
        max-width: 832px
    }
}

@media (max-width: 650px) {
    .contenedor-prestaciones-noMobile {
        display:none
    }
}
  