* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
   li {
    display: inline;
    margin-left: 55px;
    margin-top: 20px;
   }
  
  :root{
    scroll-behavior: smooth;
  }
  
  .contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
  
  }
  
  header{
    height: 100vh;
    background-image: url('/Imagenes/fondo1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  
   /* Título de la página */
   .title {
    font-size: 73px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 3%;
  }

  .subtitle {
    font-size: 35px;
    font-weight: bold;
    color: #ffc32d;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 7%;
  }
  
   /* Información */
  #informacion {
    flex-direction: row;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    position: absolute;
    bottom: 0;
  }
  
  .columna {
   flex-basis: 20%;
   text-align: left;
  }
  
  #informacion h4 {
   font-size: 20px;
   font-weight: bold;
  }
  
  #quienes-somos {
    font-weight: bold;
    color: #485ff3;
    background-color: #f1f1f1;
    text-align: end;
    padding: 20px;
    box-sizing: border-box;
    clear: both;
  }
  
  #quienes-somos h2 {
    font-size: 60px;
    font-weight: bold;
    color: #243ee7;
    text-align: left;
    margin-top: 3%;
    margin-bottom: 7%;
  }
  
  #quienes-somos p {
    font-size: 20px;
    text-align: left;
    color: #485ff3;
  }

  .texto {
    flex: 1;
    padding-right: 20px; 
  }
  
  .imagen {
    flex: 1;
  }
  
  .imagen img {
    max-width: 100%;
    height: auto;
  }
  
  /*footer*/
  footer{
    background-image: url('/Imagenes/fondofoot.png');
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .social-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
  }
  
  .social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
  }
  
  .social-media-icon:hover {
    background: #ffffff;
    color: #bababa;
  }
  
  .social-media-icon i {
    font-size: 30px;
    line-height: 60px;
  }
  