* {
    font-family: 'Inter', sans-serif;
  }
  
body {
    background-color: #f6f7ed;
}

 /* Navegación */
 li {
    display: inline;
    margin-left: 55px;
    margin-top: 20px;
   }
  
  :root{
    scroll-behavior: smooth;
  }

/* Banner de fotos */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-item {
    position: relative;
    overflow: hidden;
}

.image-item img {
    display: block;
    height: auto;
    width: 1300px; 
	height: 300px;
	object-fit: cover;
}


.image-item h3 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*color: #ffffff;*/
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0 10px;
    /*background-color: rgba(237, 245, 255, 0.7);*/
}

.maradona-text {
   color: #ffffff;
   /*background-color: #d8a4a4;*/
  }
  
  .river-text {
    color: #e62525;
  }
  
  .boca-text {
    color: #0038c4; 
  }


@media only screen and (max-width: 1000px) {

    .image-item {
        width: 100%; 
    }

    .image-item img {
        display: block;
        height: auto;
        height: 300px;
        object-fit: cover;
    }
    
    }