* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  display: inline;
  margin-left: 55px;
  margin-top: 20px;
}

:root{
  scroll-behavior: smooth;
}

.navbar-brand img {
  max-height: 90px; 
  width: auto;
}

body {
  background-image: url('/Imagenes/Otros/fondo1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*Cotizacion*/
button{
  font-size: 12px ;
  padding: 10px 40px;
  background-color: #2d45e1;
  color: #fff;
  border: none;
  cursor: pointer;
}
  
#calculadora {
  background-color: white;
  margin-top: 80px;
}
    
.formulario {
  width: 80%;
  padding: 2% 10%;
  margin: 0 auto;
}
    
.formulario h1{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #ffc32d;
}
    
.formulario h2{
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
  color: #ffc32d;
}

.formulario input {
  width: 50%;
  margin: 30px;
  border: 0px;
  border-bottom: 2px solid #bababa;
  font-size: 17px;
  color: #2d45e1;
}

/* Visión adaptada al celular */
@media only screen and (max-width: 1000px) {
  .formulario {
    width: 90%; 
    padding: 5% 5%; 
  }

  .formulario h1 {
    font-size: 20px; 
  }

  .formulario h2 {
    font-size: 15px; 
    margin-bottom: 20px; 
  }

  .formulario input {
    width: 100%; 
    margin: 20px 0;
    font-size: 14px; 
    padding: 8px; 
    border-bottom: 1.5px solid #bababa; 
  }

  button {
    font-size: 14px; 
    padding: 8px 20px; 
  }

}

