* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
   li {
    display: inline;
    margin-left: 55px;
    margin-top: 20px;
   }
  
  :root{
    scroll-behavior: smooth;
  }
  
  .contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
  
  }
  
  header{
    height: 100vh;
    background-image: url('/Imagenes/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  
   /* Título de la página */
   .title {
    font-size: 100px;
    font-weight: bold;
    color: rgb(1, 0, 6);
    margin-left: 15%;
    margin-top: 7%;
  }

  .subtitle {
    font-size: px;
    font-weight: bold;
    color: rgb(214, 85, 25);
    margin-left: 15%;
    margin-top: 7%;
  }

  /* Reserva */

  .btn-contacto {
    border-radius: 1rem;
    background-color:  rgb(244, 110, 48);
    padding: 1.5rem 4rem;
    border: 0rem;
    text-align: center;
    align-self: center;
    width: fit-content;
    transition: all .5s ease
}

.btn-contacto p {
    color: #0b2933;
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    margin: 0
}

.btn-contacto p a {
    width: 100%;
    height: 100%;
    color: #0b2933!important
}
  
   /* Información */
  #informacion {
    flex-direction: row;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    position: absolute;
    bottom: 0;
  }
  
  .columna {
   flex-basis: 20%;
   text-align: center;
  }
  
  #informacion h4 {
   font-size: 20px;
   font-weight: bold;
  }
  
  /*footer*/
  footer{
    background-image: url('/Imagenes/fondo.png');
  }
  
  .footer-content{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  
  .social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid rgb(1, 0, 6);
    border-radius: 50%;
    text-align: center;
    color: rgb(1, 0, 6);
  
  } 
  
  .social-media-icon:hover{
    background: #ffff;
    color: #bababa;
  
  }
  
  .social-media-icon i{
    font-size: 30px;
    line-height: 60px;
  
  }